# Django
SECRET_KEY=your-very-secret-key-change-this-in-production
DEBUG=False
ALLOWED_HOSTS=yourdomain.uz,www.yourdomain.uz,localhost

# PostgreSQL
POSTGRES_DB=taskdb
POSTGRES_USER=taskuser
POSTGRES_PASSWORD=strongpassword123
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Docker Hub (for CI/CD)
DOCKERHUB_USERNAME=yourdockerhubusername
